.clients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  @media screen and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 92px;
  padding-top: 32px;
  padding-bottom: 32px;
  // padding-right: 16px;
  // padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: transparent;
  fill: #afb1b8;
  @media screen and (min-width: $desktop) {
    min-width: 170px;
    min-height: 92px;
  }
}

.client-link:hover {
  fill: $accent-hover-color;
  border-color: $accent-hover-color;
}
.permanent-icon {
  background-position: center;
  border: none;
  width: 106px;
  height: 60px;
}

.permanent-icon:hover {
  color: $accent-hover-color;
  cursor: pointer;
}
