.contacts-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 32px;
  margin: 0;
  font-size: 34px;
  padding: 0;
  & .link {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $primary-text-color;
  }
}
.contact-svg {
  display: none;
  color: transparent;
  background-color: none;
  border: none;
  fill: inherit;
  cursor: pointer;
}

.contact {
  display: flex;
  font-size: 34px;
  font-weight: 500;
  fill: $primary-text-color;
  align-items: center;
  text-decoration: none;
  color: $primary-text-color;
  gap: 10px;
  &:hover,
  &:focus {
    color: $accent-hover-color;
    fill: $accent-hover-color;
  }
}
.write-us {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2%;
  color: rgba(117, 117, 117, 1);
}
