.header {
  background-color: $primary-white-color;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  height: 60px;
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.header-container {
  display: none;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}

.menu-button {
  position: absolute;
  top: 60;
  right: 8px;
  z-index: 6;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accent-hover-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// .menu-button.is-open {
//   fill: $accent-hover-color;
//   transition: transform 250ms $timing-function;
// }

.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}
.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-left: 40px;
  }
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  background-color: $primary-white-color;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  &.is-open {
    display: flex;
  }
}
.mobile-header-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 10px;
  & a {
    text-decoration: none;
    color: $accent-hover-color;
  }
}
.mobile-social-item {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  position: relative;
  &:not(:last-child)::before {
    position: absolute;
    content: '';
    top: 0;
    right: -10%;
    height: 22px;
    transform: translatex(0);
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
// .mobile-header-container .link {
//   position: absolute;
// }
