.header {
  background-color: $primary-white-color;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  height: 60px;
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  padding: 0;
  margin: 0;
}
