.hero {
  background-image: url('/images/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 1);
  max-width: auto;
  height: 400px;
  top: 80px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: auto;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: url('/images/Img@2x.jpg');
      }
    }
  }
}
