.nav-list .nav-link {
  position: relative;
}
.nav-list .nav-link::after {
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #027df7;
  border-radius: 4px;
  bottom: -0.4px;
  left: 0;
  transition: transform 250ms $timing-function;
  transform: scaleX(0);
}
.nav-list .nav-link:hover::after {
  transform: scaleX(1);
}


.nav-list .nav-link {
  display: flex;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: $secondary-text-color;
  &:hover {
    color: $accent-color;
  }
}
