.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 94px;
  box-shadow: $secondary-text-color;
  overflow: hidden;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.portfolio-list > .item {
  flex-basis: calc(100% / 3);
  box-shadow: #000000;
  border-radius: 10px;
  overflow: hidden;
}
