.site-nav {
  @media screen and (min-width: $tablet)  {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
