.site-nav {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
  }
  @media screen and (min-width:$desktop) {
    
  }
   {
    
  }
}
